<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 先引入 Vue -->
    <script src="js/lib/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="js/lib/elm/index.css">
    <!-- 引入组件库 -->
    <script src="js/lib/elm/index.js"></script>
    <!--引入less-->
    <!--<script src="js/lib/less.min.js"></script>-->
    <title>Title</title>
    <style>
        .active{
            color: red;
        }
    </style>
</head>
<body>
<div id="demo">

    <!--此处的msg为在vuejs中定义的变量，放在两个花括号中-->
    <h1>{{msg}}</h1>
    <form  @submit.prevent="additem(newitem)" >
        <p>{{items.length}}</p>
        <div v-for="item in items">
            <p>{{ item.text }}</p>
        </div>
        <div>
            <input type="text" v-model="newitem.text">
        </div>
        <div>
            <button>添加</button>
        </div>
    </form>
</div>
</body>








<script>
    <!--实例化vuejs-->
    new Vue({
        <!--el指定的id为css选择器-->
        el:'#demo',
        <!--我们的变量统统放到data中-->
        data:{
            <!--此处声明的变量msg内容为实验楼-->
            msg:'实验楼第一个vuejs示例',
            items:[
                {text:'hello 实验楼'}
            ],
            newitem:{text:''}
        },
        methods:{
            additem(newitem){
                this.items.push(newitem);
                this.newitem={text:''}
            }
        }
    })

</script>
</html>